.preloader {
  position: fixed;
  background-color: #fff;
  color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 1;
  visibility: visible;
}

.preloader img,
.preloader svg {
  width: 50px;
  height: 50px;
  background-size: contain;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
