@import '/src/shared/scss/vars';
@import '/src/shared/scss/mixin';

.dashboard {
  display: flex;
  align-items: center;

  &__image {
    margin-right: 20px;
  }

  &__text {
  }
  &__title {
    font-weight: 900;
  }
}
